<div class="workflow">
  <button type="button" class="btn btn-primary" [routerLink]="['/workflow', 'new']">Create Workflow</button>
  <table *ngIf="workflows.length" class="table mt-2">
    <thead>
      <tr>
        <th>Workflow</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workflow of workflows">
        <td>{{ workflow.name }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/workflow', workflow.id]">Edit</button>
          <button class="btn btn-danger" (click)="delete(workflow)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!workflows.length" class="no-workflows mt-5 py-3 text-center">No workflows so far</p>
</div>
