<div>
  <form>
    <div class="form-group">
      <input
        [(ngModel)]="workflow.name"
        class="form-control"
        type="text"
        id="name"
        name="name"
        placeholder="Name of the workflow" />
    </div>

    <div class="workflow-boxes my-3">
      <workflow-box
        [box]="workflow.initBox">
      </workflow-box>
    </div>

    <button
      (click)="save()"
      class="btn btn-primary"
      type="button">
      Save
    </button>
  </form>
</div>
