<div>
  <div
    *ngIf="field.invalid && (field.dirty || field.touched || form && form.submitted)"
    class="alert alert-danger p-2 mt-1"
    role="alert">
    <div *ngIf="field.errors.required">This field is required</div>
    <div *ngIf="field.errors.email">This field should be an email</div>
  </div>
</div>
