<div class="d-flex">
  <ul class="nav sidebar align-items-stretch flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/workflows">Workflow CRUD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </li>
  </ul>
  <div class="content container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
