<div class="workflow-box">
  <div class="mb-2">
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Name of the box"
      required
      #nameModel="ngModel"
      [(ngModel)]="box.name" />
    <field-errors [field]="nameModel"></field-errors>
  </div>
  <div *ngIf="box.type !== 'init'" class="mb-2">
    <select
      [(ngModel)]="box.type"
      class="form-control form-control-sm">
      <option
        *ngFor="let type of types"
        [value]="type.value">{{ type.name }}</option>
    </select>
  </div>

  <div class="workflow-box-next">
    <div *ngFor="let next of box.next; let i = index">
      <workflow-box [box]="next">
        <button
          *ngIf="next.type !== 'init'"
          (click)="deleteChild(i)"
          type="button"
          class="btn btn-danger btn-sm">
          Delete
        </button>
      </workflow-box>
    </div>
  </div>

  <div *ngIf="box.type !== 'end'">
    <button
      type="button"
      class="btn btn-info btn-sm mb-2"
      (click)="addBox()">
      Add next box
    </button>
  </div>
  <ng-content></ng-content>
</div>
