.workflow-box {
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.workflow-box-next {
  padding-left: 20px;
}

.workflow-box input,
.workflow-box select {
  width: 200px;
}
