<form class="row justify-content-center" (ngSubmit)="login(f)" #f="ngForm">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [(ngModel)]="email"
        type="email"
        id="email"
        name="email"
        class="form-control"
        #emailModel="ngModel"
        required
        email />
      <field-errors [field]="emailModel" [form]="f"></field-errors>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        type="password"
        id="password"
        name="password"
        class="form-control"
        #passwordModel="ngModel"
        required />
      <field-errors [field]="passwordModel" [form]="f"></field-errors>
    </div>
    <input type="submit" class="btn btn-primary" value="Login" />
  </div>
</form>
